```env
# PostgreSQL
POSTGRES_DB=bittencourt_academy
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# PostgreSQL port exposed on the host machine.
# Change only if port 5432 is already in use.
# Does not affect the internal container port.
POSTGRES_PORT=5432

# Spring Boot
DB_HOST=postgres
DB_PORT=5432
DB_NAME=bittencourt_academy
DB_USERNAME=postgres
DB_PASSWORD=change_me
RABBITMQ_DEFAULT_USER=academy
RABBITMQ_DEFAULT_PASS=academy-secret

# API port exposed on the host machine.
# Change only if port 8080 is already in use.
# Does not affect the internal container port.
BACKEND_PORT=8080

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PASSWORD=aaaa bbbb cccc dddd
EMAIL_PORT=587
EMAIL_USERNAME=my@gmail.com

# JWT
JWT_SECRET=your_base64_encoded_jwt_secret_here
```
