// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'styles/themes.scss';
@use 'styles/variables.scss';
@use 'styles/typography.scss';


* {
  box-sizing: border-box;
}

html {
  margin: 0;
  min-height: 100%;

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
  }
}

.text-button {
  color: var(--color-text-primary);

  span {
    color: var(--color-primary);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.custom-snackbar-overlay .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}